<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>计算属性</title>
    <script type="text/javascript" src="../js/vue.js"></script>
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓: <input type="text" v-model="firstName"> <br/><br/>
        名: <input type="text" v-model="lastName"> <br/><br/>
        全名: <span>{{fullName()}}</span>
        <!-- 这里插值是调用函数，必须加括号 -->
        
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false
    const vm = new Vue({
        el: "#root",
        data: {
            firstName: "张",
            lastName: "三"
        },
        methods: {
            fullName(){
                // 页面数据每次有变动都会重新调用该函数，效率不高
                console.log("我被调用了~")
                return this.firstName + "-" + this.lastName
            }
        }
    })
</script>
</html>